<div class="fi-fo-field fi-fo-file">
    {% if component.label is defined and component.label is not null %}
        <label for="{{ component.name }}" class="fi-fo-field-label">
            {{ component.label }}
            {% if component.required is defined and component.required %}
                <span class="fi-fo-required-indicator">*</span>
            {% endif %}
        </label>
    {% endif %}

    <input
        type="file"
        id="{{ component.name }}"
        name="{{ component.name }}{% if component.multiple is defined and component.multiple %}[]{% endif %}"
        {% if component.required is defined and component.required %}required{% endif %}
        {% if component.multiple is defined and component.multiple %}multiple{% endif %}
        {% if component.accept is not null %}accept="{{ component.accept }}"{% endif %}
        class="fi-fo-file-input"
        data-model="value"
    />

    {% if component.error is defined and component.error is not null %}
        <p class="fi-fo-error">{{ component.error }}</p>
    {% endif %}
</div>
