<div class="fi-fo-field fi-fo-toggle">
    <label class="fi-fo-toggle-label">
        <input
            type="checkbox"
            id="{{ component.name }}"
            name="{{ component.name }}"
            value="1"
            {% if component.default is defined and component.default %}checked{% endif %}
            class="fi-fo-toggle-input"
            data-on-color="{{ component.onColor ?? '#2563eb' }}"
            data-model="default"
        />
        <span class="fi-fo-toggle-switch"></span>
        {% if component.label is defined and component.label is not null %}
            <span class="fi-fo-field-label">{{ component.label }}</span>
        {% endif %}
    </label>

    {% if component.error is defined and component.error is not null %}
        <p class="fi-fo-error">{{ component.error }}</p>
    {% endif %}
</div>
